/* About Page CSS */
.page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 100px;
}

.page2 .container1{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page2 .container1 .img {
    width: 24%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.page2 .container1 .content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page2 .container1 .content .blog {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page2 .container1 .content .blog .title {
    font-size: 35px;
    color: var(--font-black);
}

.page2 .container1 .content .blog .para {
    width: 80%;
    line-height: 25px;
    color: var(--font-black);
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 0px 20px;
    text-indent: 30px;
    text-align: justify;
}

.page2 .container1 .content .stat {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.page2 .container1 .content .stat .static {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page2 .container1 .content .stat .static .range {
    height: 50%;
    width: 100%;
    background-color: var(--about);
    border-radius: 20px;
    overflow: hidden;
}

.page2 .container1 .content .stat .static .static-level {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 20px;
}

.page2 .container1 .content .stat .static .range .level {
    height: 100%;
    background-color: var(--sub);
}

.page2 .container1 .content .stat .static .range .level1 {
    width: 100%;
}

.page2 .container1 .content .stat .static .range .level2 {
    width: 90%;
}

.page2 .container1 .content .stat .static .range .level3 {
    width: 80%;
}

@media screen and (max-width: 1100px) {
    .page2 .container1 .img {
        width: 45%;
    }

    .page2 .container1 .content .stat {
        padding: 0px 10px;
    }
}

@media screen and (min-width: 1300px) {
    .page2 {
        justify-content: center;
    }
}
@media screen and (max-width: 1300px) {
    .page2 {
        height: 130vh;
    }

    .page2 .container1 {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    .page2 .container1 .img {
        height: 40%;
        width: 30%;
        margin-bottom: 30px;
    }

    .page2 .container1 .content {
        width: 100%;
        height: 60%;
        justify-content: center;
        align-items: center;
    }

    .page2 .container1 .content .stat {
        height: 50%;
        width: 80%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 800px) {
    .page2 .container1 .img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .page2 .container1 .img {
        width: 50%;
    }

    .page2 .container1 .content .blog .para {
        margin-bottom: 40px;
    }
}

/* Sub About */
.sub-about {
    width: 100vw;
    height: 70vh;
    background-color: var(--about);
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sub-about .card {
    width: 400px;
    height: auto;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px 20px;
    margin: 20px;
    cursor: pointer;
}

.sub-about .card .img {
    margin: 30px 0px 0px 0px;
    margin-bottom: 20px;
}

.sub-about .card .title {
    color: var(--sub);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.sub-about .card .img .fa{
    font-size: 40px;
    color: var(--sub);
}

.sub-about .card .blog {
    width: 90%;
    margin: 30px 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--font);
}

@media screen and (max-width: 1400px) {
    .sub-about {
        height: auto;
        padding: 150px 20px 20px;
    }

    .sub-about .card {
        margin-bottom: 30px;
    }
}